.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #98064D;
    transform-origin: bottom;
    pointer-events: none;
    z-index: 250;
  }
  
  .slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #98064D;
    transform-origin: top;
    pointer-events: none;
    z-index: 250;
  }
  